

body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:linear-gradient(135deg,#eef5ff,#dbeafe,#f8fbff);
}
.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:380px;
    background:#fff;
    padding:40px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
}

.login-logo{
    width:90px;
    height:90px;
    object-fit:contain;
    margin-bottom:15px;
}

.login-title{
    margin-top:15px;
    color:#333;
}

.login-text{
    color:#666;
    margin:20px 0;
}

.google-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#4285F4;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.google-btn:hover{
    background:#2d6cdf;
}